In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("Churn_Modelling.csv")

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
df.drop(["CustomerId","Surname"],axis =1 , inplace=True)

In [9]:
x = df.iloc[:,:-1]

In [11]:
y = df.iloc[:,-1]

In [14]:
geography=pd.get_dummies(x["Geography"],drop_first=True)
gender=pd.get_dummies(x['Gender'],drop_first=True)

## Concatenate the Data Frames

X=pd.concat([x,geography,gender],axis=1)

## Drop Unnecessary columns
x=x.drop(['Geography','Gender'],axis=1)

In [17]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2, random_state = 0)

In [23]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit(x_test)

In [24]:
### Perform Hyperparameter Optimization
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import GridSearchCV

In [27]:
from keras.models import Sequential
from keras.layers import Dense,Activation,Embedding,Flatten,LeakyReLU,BatchNormalization,Dropout
from keras.activations import relu,sigmoid

In [33]:
def create_model(layers,activation):
    model = Sequential()
    for i,nodes in enumerate(layers):
        if i==0:
            model.add(Dense(nodes,input_dim=x_train.shape[1]))
        else:
            mode.add(Dense(nodes))
        model.add(Activation(activation))
        model.add(Dropout(0.3))
        
        model.add(Dense(units = 1,activation = "sigmoid",kernel_initializer = 'glorot_uniform'))
        model.compile(optimizer = 'adam' , loss = 'binary_crossentropy',metrics = ['accuracy'])
        return model

In [34]:
model = KerasClassifier(create_model,verbose = 0)
layers = [[20],[40,20],[45,30,15]]
activations = ["relu","sigmoid"]
param_grid = dict(layers = layers , activation = activations,batch_size = [128,256] , epochs = [30])


grid = GridSearchCV(estimator = model , param_grid = param_grid , cv =5 )
grid_result = grid.fit(x_train,y_train)